.home-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
  color: black;
}

.header h1 {
  margin: 0;
  font-size: 3em;
}

.header p {
  margin-top: 10px;
  font-size: 1.2em;
}

.cta {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
}

.cta h2 {
  font-size: 2.5em;
}

.cta p {
  font-size: 1.2em;
}

.cta-button {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 300px;
}

.cta-button:hover {
  background-color: #0056b3;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}
